<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etong.android.jxappme">

    <application
        android:name="com.etong.android.frame.user.FrameEtongApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/SwipeBackBaseTheme">
        <!--android:theme="@style/AppTheme"-->
        <!-- <activity android:name=".MeTestActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>-->

        <!--<activity android:name=".view.MePersonalLoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />-->

        <activity
            android:name=".view.MePersonalCompleteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <activity
            android:name=".view.MeCouponActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.MeSettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.etong.android.frame.utils.PhotoHeadUtils"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".view.MePersonalMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.MePersonalSettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.MeCollectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.MeTestCollectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

    </application>


</manifest>